interactions:
- request:
    body: null
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_version": "3.6.2"}']
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_3889cfa2b4ba4c4d87633249ea9b9075
  response:
    body: {string: !!python/unicode '{"created_at":"2017-11-10T17:55:31Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9405536897846112508012","updated_at":"2017-11-10T17:55:32Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_d08fa7a02fd6415b8ef1ea8f4f96d0d2","object":"Address","created_at":"2017-11-10T17:55:31Z","updated_at":"2017-11-10T17:55:31Z","name":"Twitter","company":"YourCompany","street1":"1355
        MARKET ST STE 900","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94103-1337","country":"US","phone":"","email":"","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b7795ac39c1f4e51ac4fe85c5641af76","object":"Parcel","created_at":"2017-11-10T17:55:31Z","updated_at":"2017-11-10T17:55:31Z","length":1.7,"width":5.4,"height":1.7,"predefined_package":"SmallFlatRateBox","weight":50.0,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3ab150b53cd34a1eb56196b79bab5716","created_at":"2017-11-10T17:55:32Z","updated_at":"2017-11-10T17:55:32Z","date_advance":0,"integrated_form":"none","label_date":"2017-11-10T17:55:32Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20171110/1f39da6eb816462fa4761c3966dc12b4.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_578988af7baa415488bc7d29eec8d729","object":"Rate","created_at":"2017-11-10T17:55:31Z","updated_at":"2017-11-10T17:55:31Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.25","currency":"USD","retail_rate":"7.15","retail_currency":"USD","list_rate":"6.45","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3889cfa2b4ba4c4d87633249ea9b9075","carrier_account_id":"ca_af8c059654f5425295d1161dfa0f0290"}],"refund_status":null,"scan_form":null,"selected_rate":{"id":"rate_578988af7baa415488bc7d29eec8d729","object":"Rate","created_at":"2017-11-10T17:55:31Z","updated_at":"2017-11-10T17:55:31Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.25","currency":"USD","retail_rate":"7.15","retail_currency":"USD","list_rate":"6.45","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3889cfa2b4ba4c4d87633249ea9b9075","carrier_account_id":"ca_af8c059654f5425295d1161dfa0f0290"},"tracker":{"id":"trk_c87b533e802840129e822e7119101b90","object":"Tracker","mode":"test","tracking_code":"9405536897846112508012","status":"unknown","status_detail":"unknown","created_at":"2017-11-10T17:55:32Z","updated_at":"2017-11-10T17:55:32Z","signed_by":null,"weight":null,"est_delivery_date":null,"shipment_id":"shp_3889cfa2b4ba4c4d87633249ea9b9075","carrier":"USPS","tracking_details":[],"fees":[],"carrier_detail":null,"public_url":"https://track.easypost.com/djE6dHJrX2M4N2I1MzNlODAyODQwMTI5ZTgyMmU3MTE5MTAxYjkw"},"to_address":{"id":"adr_2d766c8cd738474e97fb8a75a798a118","object":"Address","created_at":"2017-11-10T17:55:31Z","updated_at":"2017-11-10T17:55:31Z","name":"The
        White House","company":"YourCompany","street1":"1600 PENNSYLVANIA AVE NW","street2":"","city":"WASHINGTON","state":"DC","zip":"20500-0003","country":"US","phone":"","email":"","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null}}},"usps_zone":8,"return_address":{"id":"adr_d08fa7a02fd6415b8ef1ea8f4f96d0d2","object":"Address","created_at":"2017-11-10T17:55:31Z","updated_at":"2017-11-10T17:55:31Z","name":"Twitter","company":"YourCompany","street1":"1355
        MARKET ST STE 900","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94103-1337","country":"US","phone":"","email":"","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_2d766c8cd738474e97fb8a75a798a118","object":"Address","created_at":"2017-11-10T17:55:31Z","updated_at":"2017-11-10T17:55:31Z","name":"The
        White House","company":"YourCompany","street1":"1600 PENNSYLVANIA AVE NW","street2":"","city":"WASHINGTON","state":"DC","zip":"20500-0003","country":"US","phone":"","email":"","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null}}},"forms":[],"fees":[{"object":"Fee","type":"LabelFee","amount":"0.03000","charged":true,"refunded":false},{"object":"Fee","type":"PostageFee","amount":"6.25000","charged":true,"refunded":false}],"id":"shp_3889cfa2b4ba4c4d87633249ea9b9075","object":"Shipment"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-backend: [easypost]
      x-ep-request-uuid: [39fc5fc9-5846-4388-9e1b-b4db3a596ab4]
      x-node: [web11sj, 42420b5b70, easypost]
      x-proxied: [intlb1sj 81b12b6948, lb5sj 81b12b6948]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_versio[...]
