interactions:
- request:
    body: !!python/unicode 'address%5Bcity%5D=False&address%5Bcompany%5D=YourCompany&address%5Bemail%5D=False&address%5Bname%5D=The+White+House&address%5Bphone%5D=False&address%5Bstreet1%5D=1600+Pennsylvania&address%5Bstreet2%5D=False&address%5Bzip%5D=20500'
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_version": "3.6.2"}']
    method: POST
    uri: https://api.easypost.com/v2/addresses?verify[]=delivery
  response:
    body: {string: !!python/unicode '{"id":"adr_cf1a3f1e50484138a57523c3122f9c4c","object":"Address","created_at":"2017-11-10T17:59:16Z","updated_at":"2017-11-10T17:59:16Z","name":"THE
        WHITE HOUSE","company":"YOURCOMPANY","street1":"1600 PENNSYLVANIA AVE NW","street2":"FALSE","city":"WASHINGTON","state":"DC","zip":"20500-0003","country":"US","phone":"","email":"False","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.MISSING","field":"street2","message":"Missing
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":38.8987,"longitude":-77.0352,"time_zone":"America/New_York"}}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: [/api/v2/addresses/adr_cf1a3f1e50484138a57523c3122f9c4c]
      x-backend: [easypost]
      x-ep-request-uuid: [6991995b-2f19-4995-853d-d3456b45c242]
      x-node: [web5sj, 42420b5b70, easypost]
      x-proxied: [intlb2sj 81b12b6948, lb5sj 81b12b6948]
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode 'parcel%5Bheight%5D=1.7&parcel%5Blength%5D=1.7&parcel%5Bpredefined_package%5D=SmallFlatRateBox&parcel%5Bweight%5D=50.0&parcel%5Bwidth%5D=5.4'
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_version": "3.6.2"}']
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body: {string: !!python/unicode '{"id":"prcl_0a265caa2c8b46a0a540a18fa1298bd1","object":"Parcel","created_at":"2017-11-10T17:59:16Z","updated_at":"2017-11-10T17:59:16Z","length":1.7,"width":5.4,"height":1.7,"predefined_package":"SmallFlatRateBox","weight":50.0,"mode":"test"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: [/api/v2/parcels/prcl_0a265caa2c8b46a0a540a18fa1298bd1]
      x-backend: [easypost]
      x-ep-request-uuid: [91680554-1c6d-405a-94c8-305a63982bdb]
      x-node: [bigweb1sj, 42420b5b70, easypost]
      x-proxied: [intlb1sj 81b12b6948, lb5sj 81b12b6948]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'shipment%5Bfrom_address%5D%5Bcity%5D=SAN+FRANCISCO&shipment%5Bfrom_address%5D%5Bcompany%5D=YourCompany&shipment%5Bfrom_address%5D%5Bcountry%5D=US&shipment%5Bfrom_address%5D%5Bemail%5D=&shipment%5Bfrom_address%5D%5Bname%5D=Twitter&shipment%5Bfrom_address%5D%5Bphone%5D=&shipment%5Bfrom_address%5D%5Bstate%5D=CA&shipment%5Bfrom_address%5D%5Bstreet1%5D=1355+MARKET+ST+STE+900&shipment%5Bfrom_address%5D%5Bstreet2%5D=&shipment%5Bfrom_address%5D%5Bzip%5D=94103-1337&[...]
