interactions:
- request:
    body: !!python/unicode 'address%5Bcity%5D=False&address%5Bcompany%5D=YourCompany&address%5Bemail%5D=False&address%5Bname%5D=The+White+House&address%5Bphone%5D=False&address%5Bstreet1%5D=1600+Pennsylvania&address%5Bstreet2%5D=False&address%5Bzip%5D=20500'
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_version": "3.6.2"}']
    method: POST
    uri: https://api.easypost.com/v2/addresses?verify[]=delivery
  response:
    body: {string: !!python/unicode '{"id":"adr_6bb5e7f86077416ebd59c6e267285140","object":"Address","created_at":"2017-11-10T17:55:40Z","updated_at":"2017-11-10T17:55:40Z","name":"THE
        WHITE HOUSE","company":"YOURCOMPANY","street1":"1600 PENNSYLVANIA AVE NW","street2":"FALSE","city":"WASHINGTON","state":"DC","zip":"20500-0003","country":"US","phone":"","email":"False","mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.MISSING","field":"street2","message":"Missing
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":38.8987,"longitude":-77.0352,"time_zone":"America/New_York"}}}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: [/api/v2/addresses/adr_6bb5e7f86077416ebd59c6e267285140]
      x-backend: [easypost]
      x-ep-request-uuid: [cfc005d2-e932-4e89-9876-aeffdcfc06e5]
      x-node: [web3sj, 42420b5b70, easypost]
      x-proxied: [intlb1sj 81b12b6948, intlb2wdc 81b12b6948, extlb2wdc 81b12b6948]
    status: {code: 201, message: Created}
[...]
- request:
    body: !!python/unicode 'parcel%5Bheight%5D=1.7&parcel%5Blength%5D=1.7&parcel%5Bpredefined_package%5D=SmallFlatRateBox&parcel%5Bweight%5D=50.0&parcel%5Bwidth%5D=5.4'
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_version": "3.6.2"}']
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body: {string: !!python/unicode '{"id":"prcl_564010e908dc4ebda8ee09dd4b2f96e3","object":"Parcel","created_at":"2017-11-10T17:55:40Z","updated_at":"2017-11-10T17:55:40Z","length":1.7,"width":5.4,"height":1.7,"predefined_package":"SmallFlatRateBox","weight":50.0,"mode":"test"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: [/api/v2/parcels/prcl_564010e908dc4ebda8ee09dd4b2f96e3]
      x-backend: [easypost]
      x-ep-request-uuid: [36e741d2-3850-4cb3-a4fb-9f218b134b2a]
      x-node: [web3sj, 42420b5b70, easypost]
      x-proxied: [intlb2sj 81b12b6948, intlb2wdc 81b12b6948, extlb2wdc 81b12b6948]
    status: {code: 201, message: Created}
- request:
    body: !!python/unicode 'shipment%5Bfrom_address%5D%5Bcity%5D=SAN+FRANCISCO&shipment%5Bfrom_address%5D%5Bcompany%5D=YourCompany&shipment%5Bfrom_address%5D%5Bcountry%5D=US&shipment%5Bfrom_address%5D%5Bemail%5D=&shipment%5Bfrom_address%5D%5Bname%5D=Twitter&shipment%5Bfrom_address%5D%5Bphone%5D=&shipment%5Bfrom_address%5D%5Bstate%5D=CA&shipment%5Bfrom_address%5D%5Bstreet1%5D=1355+MARKET+ST+STE+900&shipment%5Bfrom_address%5D%5Bstreet2%5D=&shipment%5Bfrom_address%5D%5Bzip%5D=94103-1337&[...]
- request:
    body: null
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_version": "3.6.2"}']
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_18828553d21a4b80b93c299724b54198
  response:
    body: {string: !!python/unicode '{"created_at":"2017-11-10T17:55:41Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","label_date":null,"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2017-11-10T17:55:41Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_f7487d94872249f9b2ff7a99bb77b855","object":"Address","created_at":"2017-11-10T17:55:41Z","updated_at":"2017-11-10T17:55:41Z","name":"Twitter","company":"YourCompany","street1":"1355
        MARKET ST STE 900","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94103-1337","country":"US","phone":"","email":"","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_564010e908dc4ebda8ee09dd4b2f96e3","object":"Parcel","created_at":"2017-11-10T17:55:40Z","updated_at":"2017-11-10T17:55:40Z","length":1.7,"width":5.4,"height":1.7,"predefined_package":"SmallFlatRateBox","weight":50.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_898c75118a9e4394a911bd00672d9354","object":"Rate","created_at":"2017-11-10T17:55:41Z","updated_at":"2017-11-10T17:55:41Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.25","currency":"USD","retail_rate":"7.15","retail_currency":"USD","list_rate":"6.45","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_18828553d21a4b80b93c299724b54198","carrier_account_id":"ca_af8c059654f5425295d1161dfa0f0290"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_920f8f7f13af4acf927b9581a6823a70","object":"Address","created_at":"2017-11-10T17:55:41Z","updated_at":"2017-11-10T17:55:41Z","name":"The
        White House","company":"YourCompany","street1":"1600 PENNSYLVANIA AVE NW","street2":"","city":"WASHINGTON","state":"DC","zip":"20500-0003","country":"US","phone":"","email":"","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":8,"return_address":{"id":"adr_f7487d94872249f9b2ff7a99bb77b855","object":"Address","created_at":"2017-11-10T17:55:41Z","updated_at":"2017-11-10T17:55:41Z","name":"Twitter","company":"YourCompany","street1":"1355
        MARKET ST STE 900","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94103-1337","country":"US","phone":"","email":"","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_920f8f7f13af4acf927b9581a6823a70","object":"Address","created_at":"2017-11-10T17:55:41Z","updated_at":"2017-11-10T17:55:41Z","name":"The
        White House","company":"YourCompany","street1":"1600 PENNSYLVANIA AVE NW","street2":"","city":"WASHINGTON","state":"DC","zip":"20500-0003","country":"US","phone":"","email":"","mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"id":"shp_18828553d21a4b80b93c299724b54198","object":"Shipment"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-backend: [easypost]
      x-ep-request-uuid: [e92ed4f9-e30d-4278-a88e-3e86bceb2a11]
      x-node: [web6sj, 42420b5b70, easypost]
      x-proxied: [intlb2sj 81b12b6948, intlb2wdc 81b12b6948, extlb2wdc 81b12b6948]
    status: {code: 200, message: OK}
version: 1
