interactions:
- request:
    body: !!python/unicode 'parcel%5Bheight%5D=1.7&parcel%5Blength%5D=1.7&parcel%5Bpredefined_package%5D=SmallFlatRateBox&parcel%5Bweight%5D=50.0&parcel%5Bwidth%5D=5.4'
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_version": "3.6.2"}']
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body: {string: !!python/unicode '{"id":"prcl_dd99d27fe41f4a86a3d6b99def285348","object":"Parcel","created_at":"2017-11-10T17:55:36Z","updated_at":"2017-11-10T17:55:36Z","length":1.7,"width":5.4,"height":1.7,"predefined_package":"SmallFlatRateBox","weight":50.0,"mode":"test"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      location: [/api/v2/parcels/prcl_dd99d27fe41f4a86a3d6b99def285348]
      x-backend: [easypost]
      x-ep-request-uuid: [1763ef75-e6da-4cd7-96cb-fc6436513d28]
      x-node: [web4sj, 42420b5b70, easypost]
      x-proxied: [intlb2sj 81b12b6948, intlb1wdc 81b12b6948, extlb1wdc 81b12b6948]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Content-type: [application/x-www-form-urlencoded]
      X-Client-User-Agent: ['{"lang": "python", "publisher": "easypost", "uname":
          "Linux odoo-dev-10 4.4.0-97-generic #120-Ubuntu SMP Tue Sep 19 17:28:18
          UTC 2017 x86_64 x86_64", "request_lib": "requests", "lang_version": "2.7.12",
          "openssl_version": "OpenSSL 1.0.2g  1 Mar 2016", "platform": "Linux-4.4.0-97-generic-x86_64-with-Ubuntu-16.04-xenial",
          "client_version": "3.6.2"}']
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_dd99d27fe41f4a86a3d6b99def285348
  response:
    body: {string: !!python/unicode '{"id":"prcl_dd99d27fe41f4a86a3d6b99def285348","object":"Parcel","created_at":"2017-11-10T17:55:36Z","updated_at":"2017-11-10T17:55:36Z","length":1.7,"width":5.4,"height":1.7,"predefined_package":"SmallFlatRateBox","weight":50.0,"mode":"test"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-backend: [easypost]
      x-canary: [direct]
      x-ep-request-uuid: [da238ee6-1051-4e5a-9e70-5ab65997a79d]
      x-node: [web15sj, 42420b5b70, easypost]
      x-proxied: [intlb1sj 81b12b6948, intlb1wdc 81b12b6948, extlb1wdc 81b12b6948]
    status: {code: 200, message: OK}
version: 1
